<% provide(:title, 'Inicio') %>
<div class="center hero-unit">
	<h1>Aplicación PPMM</h1>
	<h2>
		Esta es la página inicial de nuestra aplicación en línea.
	</h2>
	<%= link_to "Registrarse", registrarse_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("logykopt.png", :size=>'113x74', alt: "logykopt"), '/images/' %> <!-- Image must be inserted in app/assets/images. -->

