<% provide(:title, "#{current_user.name} | Carga de datos") %>
<h1>Cargar datos</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for @dataset, :html => { :multipart => true } do %>
			<%= hidden_field_tag 'current_user', @current_user %>
			<%= file_field_tag :file %>
			<%= submit_tag "Importar", style: 'margin-top: -10px', class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

