<footer class="footer">
	<small>
		Logykopt | Planeación Estratégica para Líneas de Manufactura con Máquinas de Inyección de Plástico.
	</small>
	<nav>
		<ul>
			<li><%= link_to "Acerca de nosotros", empresa_path %></li> <!-- Link to Empresa page. -->
			<li><%= link_to "Contacto", contacto_path %></li>	<!-- Link to Contacto page. -->
		</ul>
	</nav>
</footer>

